<!DOCTYPE html>
<html lang="en">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/style.css">


<head>
    <meta charset="UTF-8">
    <title>Written Digit Recognition</title>
</head>
<body>

    <header class="header header_style_01">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand"><img src="../static/images/digit_recognizer.png" alt="image"></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarApp" aria-controls="navbarApp" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarApp">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="{{ url_for('index_page') }}">Main</a></li>
                        <li><a class="nav-link" href="{{ url_for('models') }}">Models description</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


	<div class="container">

        <div class="row clearfix">
            <div class="col-md-3" align="center">
				<div style="position: relative;">
					<canvas id="the_stage" width="200" height="200" align="center">Canvas</canvas><br>
                </div>
				<div style="position: relative;">
					<button type="button" class="btn btn-primary butt" onClick="clearCanvas()" align="center">Clear</button>
					<button type="button" class="btn btn-primary butt" id="pred" onClick="predict_result()" align="center">Predict</button>
					</div>
            </div>



            <div class="col-md-7">
				<div class="row" id="pr">
					<div class="col-md-8"><span id="pred_text">Prediction result:</span> <span id="rec_result"> </span></div>
					<div class="col-md-4"><button type="button" class="btn btn-default butt" onclick="hide_show()" id="hide_show_btn" style="display: none;">Show info</button></div>

					<div>
							<table class="table" id="hidable" style="display: none;">
								<thead>
									<tr >
										<th>FNN</th>
										<th>FNN probability</th>
										<th>Pytorch CNN</th>
										<th>Pytorch CNN probability</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td id="fnn1"> </td>
										<td id="fnn1_proba"> </td>
										<td id="cnn1"> </td>
										<td id="cnn1_proba"> </td>
									</tr>
									<tr>
										<td id="fnn2"> </td>
										<td id="fnn2_proba"> </td>
										<td id="cnn2"> </td>
										<td id="cnn2_proba"> </td>
									</tr>
									<tr>
										<td id="fnn3"> </td>
										<td id="fnn3_proba"> </td>
										<td id="cnn3"> </td>
										<td id="cnn3_proba"> </td>
									</tr>

								</tbody>
							</table>

					</div>


                </div>
        </div>
        </div>

    <hr>

    <div class="row">
            <div class="col-md-6">
                <h2>About the application</h2>
                <p>This application uses two different neural networks to recognize handwritten digits. Draw a digit on the canvas, press "Recognize" and you will see a prediction result on the right. Then press the "Clear" button to clear the canvas and draw a digit again. You can find detailed models description in the corresponding section of the site.</p>
            </div>


        <div class="col-md-6">
                <h2>Models performance</h2>
                <table class="table">
					<thead>
						<tr>
							<th>Model</th>
							<th>Accuracy</th>
							<th>Worst predicted digit</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>FNN</td>
							<td id="fnn_mnist">85.05%</td>
							<td id="fnn_bad_digit">5 (62.78%)</td>
						</tr>
						<tr>
							<td>PyTorch CNN</td>
							<td id="cnn_mnist">94.11%</td>
							<td id="cnn_bad_digit">9 (87.55%)</td>
						</tr>

					</tbody>
				</table>
            </div>

        <footer>
            <div class="row">
                    <p>Katy Kasilina &copy; <a href="https://github.com/KatyKasilina">Github</a></p>
            </div>
        </footer>

    </div>

    </div>


<script src="../static/jquery-3.5.0.min.js"></script>
<script src="../static/draw.js" type="text/javascript" ></script>


</body>
</html>