<!DOCTYPE html>
<html lang="en">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/style.css">


<head>
    <meta charset="UTF-8">
    <title>Written Digit Recognition</title>
</head>
<body>

    <header class="header header_style_01">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand"><img src="../images/digit_recognizer.PNG" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarApp" aria-controls="navbarApp" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarApp">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="#home">About the project</a></li>
                        <li><a class="nav-link" href="#features">Project description</a></li>
                        <li><a class="nav-link" href="#download">Models</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <div class="container">

        <div class="row clearfix">
            <div class="col-md-3" align="center">
				<div style="position: relative;">
					<canvas id="the_stage" width="200" height="200" align="center">Canvas</canvas><br>
                </div>
				<div style="position: relative;">
					<button type="button" class="btn btn-primary butt" onClick="clearCanvas()" align="center">Clear</button>
					<button type="button" class="btn btn-primary butt" id="pred" onClick="predict()" align="center">Predict</button>
					</div>
            </div>



    <div class="col-md-7">
				<div class="row" id="pr">
					<div class="col-md-8"><span id="pred_text">Prediction result:</span> <span id="rec_result"> </span></div>
					<div class="col-md-4"><button type="button" class="btn btn-default butt" onclick="hide_show()" id="hide_show_btn" style="display: none;">Show info</button></div>
				</div>
        </div>
        </div>

    <hr>

    <div class="row">
            <div class="col-md-4">
                <h2>About the app</h2>
                <p>This app can recognize handwritten digits. Draw a digit on the canvas above and press the "Recognize" button to see a prediction. Press the "Clear" button to clear the canvas and draw a digit again. "Show more information" button reveals detailed predictions by all models.</p>
            </div>
            <div class="col-md-4">
                <h2>Collecting the data</h2>
                <p>The drawn image is saved in a temporary folder which is emptied at the end of each session. By default, the drawn image is used to additionally train models and futher improve the prediction quality. If you don't want this to happen, uncheck the flag below and no information will be collected.</p><br>
                <label><input id="Checkbox" name="Checkbox" type="checkbox" checked="checked">Allow to use the drawn digit for model training</label>
            </div>

        <div class="col-md-4">
                <h2>Models performance</h2>
                <table class="table">
					<thead>s
						<tr>
							<th>Model</th>
							<th>MNIST accuracy</th>
							<th>Worst predicted digit</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>FNN</td>
							<td id="fnn_mnist">58.95%</td>
							<td id="fnn_bad_digit">9 (14.57%)</td>
						</tr>
						<tr>
							<td>Trained FNN</td>
							<td id="fnn_t_mnist">62.13%</td>
							<td id="fnn_t_bad_digit">9 (14.37%)</td>
						</tr>
						<tr>
							<td>TF CNN</td>
							<td id="cnn_mnist">74.69%</td>
							<td id="cnn_bad_digit">7 (25.97%)</td>
						</tr>
						<tr>
							<td>TF CNN trained</td>
							<td id="cnn_t_mnist">74.27%</td>
							<td id="cnn_t_bad_digit">9 (29.44%)</td>
						</tr>

					</tbody>
				</table>
            </div>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Keep calm and carry on &copy; <a href="https://github.com/KatyKasilina">Github</a></p>
                </div>
            </div>
        </footer>

    </div>

</div>
    </div>

<script src="../static/draw.js" type="text/javascript" ></script>


</body>
</html>