<!DOCTYPE html>
<html lang="en">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/style.css">


<head>
    <meta charset="UTF-8">
    <title>Written Digit Recognition</title>
</head>
<body>

    <header class="header header_style_01">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand"><img src="../static/images/digit_recognizer.png" alt="image"></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarApp" aria-controls="navbarApp" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarApp">
                    <ul class="navbar-nav">
                        <li><a class="nav-link" href="index.html">Main</a></li>
                        <li><a class="nav-link active" href="models.html">Models description</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


   <div class="container">

        <br>
        <div class="row">
            <div class="col-md-12" align="left">
                <h1>Models</h1>
                <p>I use two models in this project:
                <br>&emsp;1. Feed forward neural network (FNN) is written on numpy and is not very accurate.
                    <br>&emsp;2. Convolutional neural network is created with PyTorch and is much more accurate.
                <br>The models were trained on MNIST dataset.
                </p>

                <h2>FeedForward neural network</h2>
                <p> This model has the simplest architecture:
                    <br>&emsp;- Input layer size is 28*28
                    <br>&emsp;- Hidden layer size is 100
                    <br>&emsp;- Output layer size is 10
                </p>
                <img src="../static/images/fnn_pic.png" alt="image">

                <p><script src="https://gist.github.com/KatyKasilina/e011981c3103624fe73b6e42dc95383d.js"></script></p>

                <h2>FNN: Some details</h2>
                <p>- Weights are initialized using Xavier weight initialization;
                <br>- Loss method performs forward and backward passes and computes loss with l2 regularization;
                <br>- The model is trained using stochastic gradient descent.</p>


                <h2>FNN: Model's training and accuracy</h2>

                <div class="row">
                <div class="col-md-6" align="left">  <img src="../static/images/fnn_loss_history.png" width="95%" height="95%">
                    </div>

                 <div class="col-md-6" align="left">  <img src="../static/images/fnn_accuracy.png" width="95%" height="95%">
                    </div>
                </div>

                <h2>FNN: Confusion matrix</h2>
                <img src="../static/images/conf_matrix_fnn.png" width="40%" height="20%">
            </div>

        </div>

       <hr>

       <div class="row">
            <div class="col-md-12" align="left">
                <h2>Convolutional neural network with PyTorch</h2>
                <p>CNN model is more complex</p>

                <img src="../static/images/cnn_pic.png" width="100%" height="10%">

                <p><script src="https://gist.github.com/KatyKasilina/22c3ac7a6f269bab568517f18464bf87.js"></script></p>
                <p><script src="https://gist.github.com/KatyKasilina/0acb38163723785524c0496f2b6794a7.js"></script></p>

                <h2>CNN: Some details</h2>
                <p>-  Weights are initialized using Xavier weight initialization;
                <br>- During training dropout is applied to conv layers and first fully connected layer;
                </p>

                <h2>CNN: Model's training and accuracy</h2>

                <div class="row">
                <div class="col-md-8" align="left">  <img src="../static/images/loss_10kXav.png" width="100%" height="100%">
                    </div>

                 <div class="col-md-8" align="left">  <img src="../static/images/acc_10kXav.png" width="100%" height="100%">
                    </div>
                </div>

                <div class="col-md-12" align="left">
                <h2>CNN: Confusion matrix</h2>
                <img src="../static/images/conf_matrix_pytorch.png" width="40%" height="20%">
                </div>

            </div>
       </div>
    <hr>

     <div class="row">
        <footer>
            <div class="row">
                    <p>Katy Kasilina &copy; <a href="https://github.com/KatyKasilina">Github</a></p>
            </div>
        </footer>
        </div>

    </div>

</body>